<div>
<h1>The next holiday in <%= @country %> is:</h1>
</div>
<div class="holiday"><%= @next_holiday_name %> on <%= @next_holiday_week_day %>, <%= @next_holiday_month %> <%= @next_holiday_month_day %>, <%= @current_year %> </div>
